#layout table{
  border: 1px solid #ccc;
  padding: 2px;
}
#layout table{
  border-spacing: 1px;
}
#layout td{
  width: 26px;
  height: 26px;
  line-height: 26px;
  padding: 0;
  text-align: center;
}
#layout td.empty{
  background: #eee;
  cursor: pointer;
}
#layout td.hovered{
  background: lightgreen;
}
#layout td.marked{
  background: lightblue;
}
#layout td.selected{
  background: crimson!important;
}
#layout td.locked{
  background: #888;
  color: #fff;
  cursor: pointer;
}
#layout td.reserved{
  background: #fa0;
  color: #fff;
  cursor: pointer;
}
#layout .row-name{
  background: orange;
}

#menu{
  float: right;
  border: 1px solid #ccc;
  background: #eaeaea;
  width: 340px;
  font-family: trebuchet, verdana, arial;
  font-size: 9pt;
  color: #444;
}
#menu table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 2px;
  font-family: sans-serif, arial, verdana;
  font-size: 9pt;
}
#menu table tr:nth-child(2n+1){
  background-color: #cff;
}
#menu .section {
  border: 1px solid #999;
  background: #fff;
  margin: 3px;
  padding: 2px;
}
#menu #status{
  max-height: 420px;
  list-style-type: none;
  overflow: auto;
}
#menu #status li {
  border-bottom: 1px solid #ccc;
  margin: 2px 3px;
  padding: 2px;
}
#menu #reserve{

}

.collapsible-button {
  position: absolute;
  top: 1px;
  right: 1px;
  display: inline-block;
  border: 1px solid #ccc;
  background: #eee;
  padding: 1px 4px;
  font-family: monospace, courier, sans-serif, verdana, arial;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #333;
}
.collapsible-button:hover {
  border-color: #b50;
  background: #fca;
  color: #b50;
}